setuptools==68.2.2
hydra-core==1.3.2
icecream==2.1.3
matplotlib==3.8.0
numpy==1.26.0
omegaconf==2.3.0
Pillow==10.0.1
pytorch_lightning==2.0.9
rich==13.5.3
rtpt==0.0.4
scikit_learn==1.3.1
timm==0.9.7
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
wandb==0.15.11
hydra_colorlog==1.2.0
fast_pytorch_kmeans==0.2.0.1
tensorboard==2.14.1
parameterized==0.9.0
